%article
  %section
    #registerForm.mc
      = simple_form_for @text_post do |f|
        %fieldset
          %legend
            = @legend
          = f.input :content, :as => :text, :input_html => { :class => "" }, :placeholder => "Input content here"
          .actions
            = f.submit "submit", :class => "btn primary"
