%article
  %section
    #registerForm.mc
      = simple_form_for @post do |f|
        %fieldset
          %legend Edit Post
          = f.input :content, :as => :text, :input_html => { :class => "" }
          .actions
            = f.submit "submit", :class => "btn primary"
