/*
 *= require bootstrap
 *= require responsive
 *= require_tree .
 *= require_self
*/
.mb2 { margin-bottom: 2px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }

.mt2 { margin-top: 2px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }

.ml2 { margin-left: 2px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }

.mr2 { margin-right: 2px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }

.mc { margin: 0 auto; }

.pd2 { padding: 2px }
.pd5 { padding: 5px }
.pd10 { padding: 10px }
.pd15 { padding: 15px }

.pdb2 { padding-bottom: 2px; }
.pdb5 { padding-bottom: 5px; }
.pdb10 { padding-bottom: 10px; }
.pdb15 { padding-bottom: 15px; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  clear: both;
  border-bottom: 0;
  border-top: 1px dotted #ccc;
  border-right: 0;
  border-left: 0;
  min-height: 0;
  margin: 10px 0;
  height: 1px;
}
hr.alt1 { border-style: solid; }
hr.alt2 { border-style: dashed; }

body { color: #545454; }
.waterfall-box { width: 270px; }

#appContainer { margin-top: 80px; }
