/*
 *= require bootstrap
 *= require responsive
 *= require_tree .
 *= require_self
*/

.mb1 { margin-bottom: 4px; }
.mb2 { margin-bottom: 8px; }
.mb3 { margin-bottom: 12px; }
.mb4 { margin-bottom: 15px; }

.mt1 { margin-top: 4px; }
.mt2 { margin-top: 8px; }
.mt3 { margin-top: 12px; }
.mt4 { margin-top: 15px; }

.ml1 { margin-left: 4px; }
.ml2 { margin-left: 8px; }
.ml3 { margin-left: 12px; }
.ml4 { margin-left: 15px; }

.mr1 { margin-right: 4px; }
.mr2 { margin-right: 8px; }
.mr3 { margin-right: 12px; }
.mr4 { margin-right: 15px; }

.pd1 { padding: 4px }
.pd2 { padding: 8px }
.pd3 { padding: 12px }
.pd4 { padding: 15px }

.pdb1 { padding-bottom: 4px; }
.pdb2 { padding-bottom: 8px; }
.pdb3 { padding-bottom: 12px; }
.pdb4 { padding-bottom: 15px; }

body { color: #545454; }
.box { width:270px; }
.mc { margin: 0 auto; }
